.results{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map_and_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}