.header{
    background-color: var(--color-grey);
    opacity: 50%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
}

.logo-total{
    width: 5%;
}

.logo-cytech{
    width: 5%
}